
@{
    ViewBag.Title = "Chính sách thanh toán";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="zom_grr">
    <!-- Page Title
    ============================================= -->
    <section id="page-title">
        <div class="container clearfix">

            <ol class="breadcrumb col-md-6 col-sm-6">
                <li><a href="../index.html">Trang chủ</a></li>

                <li class='active'>Chính sách đổi trả</li>

            </ol>
        </div>
    </section>
    <!-- #page-title end -->
    <!-- Content
    ============================================= -->
    <section id="content">

        <div class="content-wrap">
            <style>
                .content-wrap ul {
                    margin-left: 30px;
                }
            </style>
            <div class="container clearfix">
                <div><span style="font-size: 11pt;" data-mce-style="font-size: 11pt;"><strong>CHÍNH SÁCH ĐỔI TRẢ:</strong></span></div><div><span style="font-size: 11pt;" data-mce-style="font-size: 11pt;">&nbsp;</span></div><div><span style="font-size: 11pt;" data-mce-style="font-size: 11pt;"><strong>Trường hợp áp dụng</strong></span></div><div><span style="font-size: 11pt;" data-mce-style="font-size: 11pt;">Chúng tôi chỉ chấp nhận đổi trả hàng trong các trường hợp sau đây:</span></div><ul><li><span style="font-size: 11pt;" data-mce-style="font-size: 11pt;">Hàng giao không đúng chúng loại, số lượng như trong đơn hàng</span></li><li><span style="font-size: 11pt;" data-mce-style="font-size: 11pt;">Hàng không được nguyên vẹn trong quá trình vận chuyển (móp, méo, vỡ…)</span></li></ul><div><span style="font-size: 11pt;" data-mce-style="font-size: 11pt;"><strong>Đổi trả hàng</strong></span></div><div><span style="font-size: 11pt;" data-mce-style="font-size: 11pt;">Chúng tôi khuyến khích quý khách hàng phải kiểm tra tình trạng bên ngoài của thùng hàng và sản phẩm trước khi thanh toán để đảm bảo rằng hàng hóa được giao đúng chủng loại, số lượng, theo đơn đặt hàng và tình trạng bên ngoài không bị tác động.&nbsp;</span></div><div><span style="font-size: 11pt;" data-mce-style="font-size: 11pt;">&nbsp;</span></div><div><span style="font-size: 11pt;" data-mce-style="font-size: 11pt;">Nếu gặp trường hợp hàng giao không được nguyên vẹn, không đúng chúng loại, số lượng như trong đơn hàng, Quý khách vui lòng từ chối nhận hàng và/hoặc báo ngay cho bộ phận hỗ trợ khách hàng để chúng tôi có phương án xử lí kịp thời.</span></div><div><span style="font-size: 11pt;" data-mce-style="font-size: 11pt;">&nbsp;</span></div><div><span style="font-size: 11pt;" data-mce-style="font-size: 11pt;">Trong trường hợp khách hàng đã thanh toán, nhận hàng và sau đó phát hiện hàng hóa không được nguyên vẹn, không đúng chúng loại, số lượng, xin vui lòng chụp ảnh sản phẩm gửi về hộp thư của chúng tôi để được chúng tôi hỗ trợ các bước tiếp theo như đổi/trả hàng hoặc gửi sản phẩm còn thiếu đến quý khách…</span></div><div><span style="font-size: 11pt;" data-mce-style="font-size: 11pt;">&nbsp;</span></div><div><span style="font-size: 11pt;" data-mce-style="font-size: 11pt;">Sau 48h kể từ ngày quý khách nhận hàng, chúng tôi có quyền từ chối hỗ trợ cho những khiếu nại theo nội dung như trên.</span></div><div><span style="font-size: 11pt;" data-mce-style="font-size: 11pt;">&nbsp;</span></div><div><span style="font-size: 11pt;" data-mce-style="font-size: 11pt;"><strong>Phương thức hoàn tiền</strong></span></div><div><span style="font-size: 11pt;" data-mce-style="font-size: 11pt;">Tùy theo lí do hoàn trả sản phẩm và kết quả đánh giá chất lượng tại kho, chúng tôi sẽ có những phương thức hoàn tiền với chi tiết như sau:</span></div><div><span style="font-size: 11pt;" data-mce-style="font-size: 11pt;">- Đổi sản phẩm mới cùng loại</span></div><div><span style="font-size: 11pt;" data-mce-style="font-size: 11pt;">- Chuyển khoản qua ngân hàng theo thông tin của quý khách cung cấp</span></div><div><span style="font-size: 11pt;" data-mce-style="font-size: 11pt;">- Hoàn tiền mặt trực tiếp tại văn phòng</span></div><div><span style="font-size: 11pt;" data-mce-style="font-size: 11pt;">Mọi chi tiết hoặc thắc mắc quý khách vui lòng liên hệ với chúng tôi qua số điện thoại hỗ trợ hoặc để lại lời nhắn tại website/fanpage. Xin chân thành cảm ơn!</span></div><address><span style="font-size: 11pt;" data-mce-style="font-size: 11pt;">&nbsp;</span></address>
            </div>

        </div>

    </section><!-- #content end -->
</div>

