
@{
    ViewBag.Title = "Điều khoản sử dụng";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="zom_grr">
    <!-- Page Title
    ============================================= -->
    <section id="page-title">
        <div class="container clearfix">

            <ol class="breadcrumb col-md-6 col-sm-6">
                <li><a href="../index.html">Trang chủ</a></li>

                <li class='active'>Điều khoản sử dụng</li>

            </ol>
        </div>
    </section>
    <!-- #page-title end -->
    <!-- Content
    ============================================= -->
    <section id="content">

        <div class="content-wrap">
            <style>
                .content-wrap ul {
                    margin-left: 30px;
                }
            </style>
            <div class="container clearfix">
                <p><strong>Điều khoản sử dụng</strong><br>Khi quý khách truy cập vào trang web của chúng tôi có nghĩa là quý khách đồng ý với các điều khoản này. Trang web có quyền thay đổi, chỉnh sửa, thêm hoặc lược bỏ bất kỳ phần nào trong điều khoản sử dụng, vào bất cứ lúc nào. Các thay đổi có hiệu lực ngay khi được đăng trên trang web mà không cần thông báo trước. Và khi quý khách tiếp tục sử dụng trang web, sau khi các thay đổi về điều khoản sử dụng được đăng tải, có nghĩa là quý khách chấp nhận với những thay đổi đó.<br>Quý khách vui lòng kiểm tra thường xuyên để cập nhật những thay đổi của chúng tôi.<br><br><strong>1.Hướng dẫn sử dụng web.</strong><br>Chúng tôi cấp giấy phép sử dụng để bạn có thể mua sắm trên web trong khuôn khổ điều khoản sử dụng đã đề ra.<br>Nghiêm cấm sử dụng bất kỳ phần nào của trang web này với mục đích thương mại hoặc nhân danh bất kỳ đối tác thứ ba nào nếu không được chúng tôi cho phép bằng văn bản. Nếu vi phạm bất cứ điều nào trong đây, chúng tôi sẽ hủy giấy phép của bạn mà không cần báo trước.<br><br>Trang web này chỉ dùng để cung cấp thông tin sản phẩm chứ chúng tôi không phải nhà sản xuất nên những nhận xét hiển thị trên web là ý kiến cá nhân của khách hàng, không phải của chúng tôi.<br><br>Quý khách phải đăng ký tài khoản với thông tin xác thực về bản thân và phải cập nhật nếu có bất kỳ thay đổi nào. Mỗi người truy cập phải có trách nhiệm với mật khẩu, tài khoản và hoạt động của mình trên web. Hơn nữa, quý khách phải thông báo cho chúng tôi biết khi tài khoản bị truy cập trái phép. Chúng tôi không chịu bất kỳ trách nhiệm nào, dù trực tiếp hay gián tiếp, đối với những thiệt hại hoặc mất mát gây ra do quý khách không tuân thủ quy định.<br><br>Trong suốt quá trình đăng ký, quý khách đồng ý nhận email quảng cáo từ website. Sau đó, nếu không muốn tiếp tục nhận mail, quý khách có thể từ chối bằng cách nhấp vào đường link ở dưới cùng trong mọi email quảng cáo.<br><br><strong>2.Điều khoản về mua bán</strong><br>Giá niêm yết của chúng có thể được thay đổi bất cứ lúc nào. Giá bán cho khách hàng được xác định chính xác khi có chứng nhận hoá đơn (trừ trường hợp hệ thống mạng bị lỗi).<br><br>Mặc dù chúng tôi cố gắng tốt nhất để bảo đảm rằng tất cả các chi tiết, hình ảnh, thông tin và giá sản phẩm hiển thị trên trang Web là chính xác, đôi khi sẽ có một số trường hợp bị lỗi. Nếu chúng tôi phát hiện lỗi về giá của bất kỳ Sản phẩm nào mà Quý khách đã đặt hàng, chúng tôi sẽ thông báo cho Quý khách trong thời gian sớm nhất có thể và gửi đến Quy khách lựa chọn để xác nhận lại Đơn hàng với giá chính xác hay là hủy Đơn hàng. Nếu chúng tôi không thể liên lạc với Quý khách, chúng tôi sẽ tự động hủy Đơn hàng. Nếu Quý khách hủy Đơn hàng trước khi chúng tôi vận chuyển đến cho Quý khách, và Quý khách đã thanh toán cho Đơn hàng trước đó, chúng tôi sẽ hoàn lại tiền đã thanh toán cho Quý khách.<br><br>Chúng tôi không có nghĩa vụ phải thực hiện Đơn hàng của Quý khách, nếu giá hiển thị trên trang Web không chính xác (ngay cả khi chúng tôi đã Xác Nhận Đơn Hàng của Quý khách).<br><br><strong>3.Nguồn gốc, xuất xứ của sản phẩm</strong><br>Chúng tôi cam kết bán hàng có nguồn gốc, xuất xứ rõ ràng. Các thành phần ghi trên đóng gói bao bì được kiểm định chất lượng và tính xác thực, được cho phép lưu hành trên thị trường Châu Âu.<br>Trong trường hợp nhà sản xuất thay đổi logo, nhãn mác bao bì của sản phẩm, hình ảnh sản phẩm trên website của chúng tôi và thực tế có thể không toàn toàn giống nhau. Tuy nhiên chất lượng và nguồn gốc chính hãng của sản phẩm vẫn được bảo đảm.<br><br><strong>4.Thương hiệu và bản quyền</strong><br>Mọi quyền sở hữu trí tuệ (đã đăng ký hoặc chưa đăng ký), nội dung thông tin và tất cả các thiết kế, văn bản, đồ họa, phần mềm, hình ảnh, video, âm nhạc, âm thanh, biên dịch phần mềm, mã nguồn và phần mềm cơ bản đều là tài sản của chúng tôi. Toàn bộ nội dung của trang web được bảo vệ bởi luật bản quyền của Việt Nam và các công ước quốc tế. Bản quyền đã được bảo lưu.<br><br><strong>5.Quyền pháp lý</strong><br>Các điều kiện, điều khoản và nội dung của trang web này được điều chỉnh bởi luật pháp Việt Nam và Tòa án có thẩm quyền tại Việt Nam sẽ giải quyết bất kỳ tranh chấp nào phát sinh từ việc sử dụng trái phép trang web này.<br><br><strong>6.Quy định về bảo mật</strong><br>Trang web của chúng tôi coi trọng việc bảo mật thông tin và sử dụng các biện pháp tốt nhất bảo vệ thông tin và việc thanh toán của quý khách. Thông tin của quý khách trong quá trình thanh toán sẽ được mã hóa để đảm bảo an toàn. Sau khi quý khách hoàn thành quá trình đặt hàng, quý khách sẽ thoát khỏi chế độ an toàn.<br><br>Quý khách không được sử dụng bất kỳ chương trình, công cụ hay hình thức nào khác để can thiệp vào hệ thống hay làm thay đổi cấu trúc dữ liệu. Trang web cũng nghiêm cấm việc phát tán, truyền bá hay cổ vũ cho bất kỳ hoạt động nào nhằm can thiệp, phá hoại hay xâm nhập vào dữ liệu của hệ thống. Cá nhân hay tổ chức vi phạm sẽ bị tước bỏ mọi quyền lợi cũng như sẽ bị truy tố trước pháp luật nếu cần thiết.<br><br>Mọi thông tin giao dịch sẽ được bảo mật nhưng trong trường hợp cơ quan pháp luật yêu cầu, chúng tôi sẽ buộc phải cung cấp những thông tin này cho các cơ quan pháp luật.<br><br><strong>7. Thay đổi, hủy bỏ giao dịch tại website</strong><br>Trong mọi trường hợp, khách hàng đều có quyền chấm dứt giao dịch nếu đã thực hiện các biện pháp sau đây:<br>- Thông báo cho chúng tôi về việc hủy giao dịch qua đường dây nóng 0975.380.816<br>- Trả lại hàng hoá đã nhận nhưng chưa sử dụng hoặc hưởng bất kỳ lợi ích nào từ hàng hóa đó (theo quy định của chính sách đổi trả hàng).</p>
            </div>

        </div>

    </section><!-- #content end -->
</div>

