
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="zom_grr">
    <!-- Page Title
    ============================================= -->
    <section id="page-title">
        <div class="container clearfix">

            <ol class="breadcrumb col-md-6 col-sm-6">
                <li><a href="/">Trang chủ</a></li>

                <li class='active'>Giới thiệu về Leaf Organic</li>

            </ol>
        </div>
    </section>
    <!-- #page-title end -->
    <!-- Content
    ============================================= -->
    <section id="content">

        <div class="content-wrap">
            <style>
                .content-wrap ul {
                    margin-left: 30px;
                }
            </style>
            <div class="container clearfix">
                <p> </p><div><img style="float: right;" src="~/Content/image/gioi-thieu-leaf-shop_grande.jpg"></div><p style="text-align: left;"><span style="font-size: 11pt;">“ </span><strong style="font-size: 11pt;">Đẹp tự nhiên, khoẻ tự nhiên </strong><span style="font-size: 11pt;">là điều mà Leaf Organic&nbsp;muốn hướng đến mọi gia đình, mọi đối tượng”</span></p><p style="text-align: left;"><span style="font-size: 11pt;"><em>Chúng ta đều cảm thấy bất an và lo lắng khi trên thị trường trôi nổi tràn làn các sản phẩm chứa hoá chất độc hại mà không hề được kiểm soát.&nbsp; Chúng ta càng thất vọng hơn khi biết được thông tin là ngay tại các nước phát triển hàng đầu trên thế giới, pháp luật cũng không đủ chặt chẽ để có thể kiểm soát và ngăn ngừa việc hàng nghìn hoá chất độc hại tồn tai trong các sản phẩm chăm sóc gia đình hằng ngày như : mỹ phẩm, kem đánh răng, xà phòng, dầu gội, sữa tắm...Bên cạnh đó, thực phẩm bẩn, thực phẩm tồn dư hoá chất đang tràn lan trên thị trường. Leaf Organic</em><em> không thể thay đổi được sự thật này. Tuy nhiên Leaf Organic</em><em> hoàn toàn có thể thông qua mạng lưới &nbsp;bán lẻ của mình để có thể cung cấp cho người tiêu dùng tại Việt Nam các sản phẩm “sạch” hoàn toàn không chứa các hoá chất có hại cho sức khoẻ từ thực phẩm cho đến các sản phẩm tiêu dùng, làm đẹp, chăm sóc bé.</em></span></p><p style="text-align: left;"><span style="font-size: 11pt;"><em>100% các sản phẩm của Leaf Organic</em><em> đều nằm trong danh mục các sản phẩm lành tính an toàn, đảm bảo không chứa các thành phần&nbsp; như : Parabens, Phenoxyethanol, Phthalates, các thành phần biến đổi gien, các thành phần đến từ công nghiệp hoá dầu (paraffine, silicone, PEG), màu tổng hợp, hương liệu nhân tạo…</em></span></p><p style="text-align: left;"><span style="font-size: 11pt;"><em>Leaf Organic cam kết <strong>hàng chính hãng có nguồn gốc, xuất xứ rõ ràng</strong>. Các thành phần ghi trên bao bì đóng gói được kiểm định chất lượng và tính xác thực, được cho phép lưu hành trên thị trường. Mua sản phẩm tại Leaf Organic, <strong>người tiêu dùng sẽ không phải lo lắng và hoàn toàn có thể yên tâm về chất lượng và nguồn gốc sản phẩm.</strong></em></span></p><p style="text-align: left;"><span style="font-size: 11pt;"><em>Bất cứ ai trong chúng ta cũng đều muốn hướng tới&nbsp; một <strong>cuộc sống xanh và sạch</strong>, nơi mà mọi người không chỉ được <strong>sống lâu hơn</strong> mà còn được <strong>sống vui, sống khoẻ mỗi ngày</strong>. Hãy để Leaf Organic đồng hành với bạn và gia đình để đạt được điều đó!</em></span></p><p> </p>
            </div>

        </div>

    </section><!-- #content end -->
</div>



