
@{
    ViewBag.Title = "Thanh toán";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="zom_grr">
    <!-- Page Title
    ============================================= -->
    <section id="page-title">
        <div class="container clearfix">

            <ol class="breadcrumb col-md-6 col-sm-6">
                <li><a href="../index.html">Trang chủ</a></li>

                <li class='active'>Thanh toán</li>

            </ol>
        </div>
    </section>
    <!-- #page-title end -->
    <!-- Content
    ============================================= -->
    <section id="content">

        <div class="content-wrap">
            <style>
                .content-wrap ul {
                    margin-left: 30px;
                }
            </style>
            <div class="container clearfix">
                <p><div><strong><span style="font-size: 11pt;" data-mce-style="font-size: 11pt;"></span></strong><br></div><div><strong><span style="font-size: 11pt;" data-mce-style="font-size: 11pt;">PHƯƠNG THỨC THANH TOÁN</span></strong></div><div><span style="font-size: 11pt;" data-mce-style="font-size: 11pt;">&nbsp;</span></div><div><strong><span style="font-size: 11pt;" data-mce-style="font-size: 11pt;">Thanh toán tại cửa hàng:</span></strong></div><ul><li><div><span style="font-size: 11pt;" data-mce-style="font-size: 11pt;">Thanh toán bằng tiền mặt (chỉ sử dụng tiền&nbsp;Việt Nam)</span></div></li><li><div><span style="font-size: 11pt;" data-mce-style="font-size: 11pt;">Thanh toán bằng thẻ (thẻ Master, Visa, JCB, thẻ ghi nợ, thẻ nội địa, ...)</span></div></li></ul><div><strong><span style="font-size: 11pt;" data-mce-style="font-size: 11pt;">Thanh toán cho các đơn đặt hàng online:</span></strong></div><ul><li><div><span style="font-size: 11pt;" data-mce-style="font-size: 11pt;">Thanh toán bằng tiền mặt khi nhận hàng (không mất phí)</span></div><br></li><li><span style="font-size: 11pt;" data-mce-style="font-size: 11pt;">Chuyển khoản qua Tài khoản ngân hàng:&nbsp;</span></li></ul><p><strong>Thông tin tài khoản:</strong><br><span>Chủ tài khoản: Phan Thị Thuỳ Linh</span><br><span>Số tài khoản: 0451001280259</span><br><span>Ngân hàng : Vietcombank, chi nhánh Thành Công, Hà nội.</span><br></p></p>
            </div>

        </div>

    </section><!-- #content end -->
</div>